main {
  width: 100vw;
  flex-flow: column;
  gap: 15px;
}

.gameSection {
}

.gameSection > img {
  width: 100%;
  position: relative;
  height: 100%;
}

.characterSelectMenu {
  display: none;
  position: absolute;
  width: 100px;
  height: 120px;
}
.characterSelectMenu > form {
  display: flex;
  flex-flow: column wrap;
}

.targetCharactersSection {
  display: flex;
  gap: 10px;
}

.character {
}

.character > section > img {
  width: 100px;
  height: 100px;
}
