main {
  width: 100vw;
  flex-flow: column;
  gap: 15px;
}

.gameSection > img {
  width: 100%;
  position: relative;
  height: 100%;
}

.characterSelectMenu {
  display: none;
  position: absolute;
  width: 100px;
  height: 120px;
}
.characterSelectMenu > form {
  display: flex;
  flex-flow: column wrap;
}

.targetCharactersSection {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.iconBoxSection {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.character > section > img {
  width: 100px;
  height: 100px;
}
