button {
  font-size: 4rem;
}

.startScreenSection {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 15px;
}

.startScreenMainSection {
  background-image: url("https://res.cloudinary.com/ddxkbe6lh/image/upload/v1740312900/wheres_waldo/levels/mftze9ln3armpi57s8ia.webp");
}

.logo {
  width: 100%;
}

.boxContainer {
  display: flex;
  width: 20rem;
  height: 20rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gameNameSection {
  width: 100%;
  padding: 1rem;
  color: #fff;
  background-color: black;
  opacity: 60%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.startScreenSection a {
  background-size: cover;
  text-decoration: none;
  color: #fff;
}

@media (min-width: 800px) {
  .startScreenSection {
    justify-content: center;
    align-items: center;
  }

  button {
    font-size: 8rem;
  }

  button:hover {
    color: aquamarine;
  }
}
