.startScreenSection {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 15px;
}

.boxContainer {
  display: flex;
  width: 20rem;
  height: 20rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gameNameSection {
  width: 100%;
  padding: 1rem;
  color: #fff;
  background-color: black;
  opacity: 60%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.startScreenSection a {
  background-size: cover;
  text-decoration: none;
  color: #fff;
}

.startScreenSection a:nth-child(2) {
  background-image: url("https://res.cloudinary.com/ddxkbe6lh/image/upload/v1738928321/wheres_waldo/levels/mrnprcsbvutjkvspurse.webp");
}

.startScreenSection a:nth-child(3) {
  background-image: url("https://res.cloudinary.com/ddxkbe6lh/image/upload/v1738928321/wheres_waldo/levels/qefhrkvx1zrdlnlfneor.webp");
}

.startScreenSection a:nth-child(4) {
  background-image: url("https://res.cloudinary.com/ddxkbe6lh/image/upload/v1738928321/wheres_waldo/levels/vd4wndr795ecfgr8khvw.webp");
}
